@charset "utf-8";

/* CSS Document */
@page {
  size: A4; 
}

.no_imprimir{
visibility:hidden;
   display: none; 
	}
	.impresion{
		
		margin-top:-20%;
		/*margin-bottom: 70%;*/}
		
		.pie_pagina{
			margin-top:70%;
			}